In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

# Cargar el dataset desde el archivo CSV
df = pd.read_csv('d4332a3056f44e1a1dec9600a31f21c8_boston.csv')

# Mostrar información básica del dataset
print(df.info())
print(df.describe())
print(df.isnull().sum())

# Identificar la columna problemática (por ejemplo, 'Location')
print(df['TOWN'].unique())

# Aplicar One-Hot Encoding a la columna 'TOWN'
df_encoded = pd.get_dummies(df, columns=['TOWN'], drop_first=True)

# Verificar los cambios
print(df_encoded.head())
print(df_encoded.columns)

# Imputar valores NaN con la media de la columna
df_imputed = df_encoded.fillna(df_encoded.mean())

# Verificar los cambios
print(df_imputed.info())
print(df_imputed.isnull().sum())

# Separar las características de la variable objetivo

X = df_imputed.drop('MEDV', axis=1)
y = df_imputed['MEDV']

# Escalar las características
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Dividir los datos en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

# Obtener los nombres de las columnas desde el DataFrame original
column_names = X.columns

# Crear DataFrames para los conjuntos de entrenamiento y prueba
train_data = pd.DataFrame(X_train, columns=column_names)
train_data['MEDV'] = y_train
test_data = pd.DataFrame(X_test, columns=column_names)
test_data['MEDV'] = y_test

# Mostrar las primeras filas de los conjuntos de datos de entrenamiento y prueba
print(train_data.head())
print(test_data.head())

# Guardar los conjuntos de datos procesados en archivos CSV
train_data.to_csv('boston_train_data.csv', index=False)
test_data.to_csv('boston_test_data.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 16 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   TOWN     506 non-null    object
 1   TRACT    506 non-null    int64
 2   LON      506 non-null    float64
 3   LAT      506 non-null    float64
 4   MEDV     506 non-null    float64
 5   CRIM     506 non-null    float64
 6   ZN       506 non-null    float64
 7   INDUS    506 non-null    float64
 8   CHAS     506 non-null    int64
 9   NOX      506 non-null    float64
 10  RM       506 non-null    float64
 11  AGE      506 non-null    float64
 12  DIS      506 non-null    float64
 13  RAD      506 non-null    int64
 14  TAX      506 non-null    int64
 15  PTRATIO  506 non-null    float64
dtypes: float64(11), int64(4), object(1)
memory usage: 63.4+ KB
None
             TRACT         LON         LAT        MEDV        CRIM  \
count   506.000000  506.000000  506.000000  506.000000  506.000000
mean   2700.355731  -71.056389   42.216440   22.528854    3.613524
std    1380.036830    0.075405    0.061777    9.182176    8.601545
min       1.000000  -71.289500   42.030000    5.000000    0.006320
25%    1303.250000  -71.093225   42.180775   17.025000    0.082045
50%    3393.500000  -71.052900   42.218100   21.200000    0.256510
75%    3739.750000  -71.019625   42.252250   25.000000    3.677083
max    5082.000000  -70.810000   42.381000   50.000000   88.976200

               ZN       INDUS        CHAS         NOX          RM         AGE  \
count  506.000000  506.000000  506.000000  506.000000  506.000000  506.000000
mean    11.363636   11.136779    0.069170    0.554695    6.284634   68.574901
std     23.322453    6.860353    0.253994    0.115878    0.702617   28.148861
min      0.000000    0.460000    0.000000    0.385000    3.561000    2.900000
25%      0.000000    5.190000    0.000000    0.449000    5.885500   45.025000
50%      0.000000    9.690000    0.000000    0.538000    6.208500   77.500000
75%     12.500000   18.100000    0.000000    0.624000    6.623500   94.075000
max    100.000000   27.740000    1.000000    0.871000    8.780000  100.000000

              DIS         RAD         TAX     PTRATIO
count  506.000000  506.000000  506.000000  506.000000
mean     3.795043    9.549407  408.237154   18.455534
std      2.105710    8.707259  168.537116    2.164946
min      1.129600    1.000000  187.000000   12.600000
25%      2.100175    4.000000  279.000000   17.400000
50%      3.207450    5.000000  330.000000   19.050000
75%      5.188425   24.000000  666.000000   20.200000
max     12.126500   24.000000  711.000000   22.000000
TOWN       0
TRACT      0
LON        0
LAT        0
MEDV       0
CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
dtype: int64
['Nahant' 'Swampscott' 'Marblehead' 'Salem' 'Lynn' 'Sargus' 'Lynnfield'
 'Peabody' 'Danvers' 'Middleton' 'Topsfield' 'Hamilton' 'Wenham' 'Beverly'
 'Manchester' 'North Reading' 'Wilmington' 'Burlington' 'Woburn' 'Reading'
 'Wakefield' 'Melrose' 'Stoneham' 'Winchester' 'Medford' 'Malden'
 'Everett' 'Somerville' 'Cambridge' 'Arlington' 'Belmont' 'Lexington'
 'Bedford' 'Lincoln' 'Concord' 'Sudbury' 'Wayland' 'Weston' 'Waltham'
 'Watertown' 'Newton' 'Natick' 'Framingham' 'Ashland' 'Sherborn'
 'Brookline' 'Dedham' 'Needham' 'Wellesley' 'Dover' 'Medfield' 'Millis'
 'Norfolk' 'Walpole' 'Westwood' 'Norwood' 'Sharon' 'Canton' 'Milton'
 'Quincy' 'Braintree' 'Randolph' 'Holbrook' 'Weymouth' 'Cohasset' 'Hull'
 'Hingham' 'Rockland' 'Hanover' 'Norwell' 'Scituate' 'Marshfield'
 'Duxbury' 'Pembroke' 'Boston Allston-Brighton' 'Boston Back Bay'
 'Boston Beacon Hill' 'Boston North End' 'Boston Charlestown'
 'Boston East Boston' 'Boston South Boston' 'Boston Downtown'
 'Boston Roxbury' 'Boston Savin Hill' 'Boston Dorchester'
 'Boston Mattapan' 'Boston Forest Hills' 'Boston West Roxbury'
 'Boston Hyde Park' 'Chelsea' 'Revere' 'Winthrop']
   TRACT     LON      LAT  MEDV     CRIM    ZN  INDUS  CHAS    NOX     RM  \
0   2011 -70.955  42.2550  24.0  0.00632  18.0   2.31     0  0.538  6.575
1   2021 -70.950  42.2875  21.6  0.02731   0.0   7.07     0  0.469  6.421
2   2022 -70.936  42.2830  34.7  0.02729   0.0   7.07     0  0.469  7.185
3   2031 -70.928  42.2930  33.4  0.03237   0.0   2.18     0  0.458  6.998
4   2032 -70.922  42.2980  36.2  0.06905   0.0   2.18     0  0.458  7.147

   ...  TOWN_Wayland  TOWN_Wellesley  TOWN_Wenham  TOWN_Weston  TOWN_Westwood  \
0  ...         False           False        False        False          False
1  ...         False           False        False        False          False
2  ...         False           False        False        False          False
3  ...         False           False        False        False          False
4  ...         False           False        False        False          False

   TOWN_Weymouth  TOWN_Wilmington  TOWN_Winchester  TOWN_Winthrop  TOWN_Woburn
0          False            False            False          False        False
1          False            False            False          False        False
2          False            False            False          False        False
3          False            False            False          False        False
4          False            False            False          False        False

[5 rows x 106 columns]
Index(['TRACT', 'LON', 'LAT', 'MEDV', 'CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX',
       'RM',
       ...
       'TOWN_Wayland', 'TOWN_Wellesley', 'TOWN_Wenham', 'TOWN_Weston',
       'TOWN_Westwood', 'TOWN_Weymouth', 'TOWN_Wilmington', 'TOWN_Winchester',
       'TOWN_Winthrop', 'TOWN_Woburn'],
      dtype='object', length=106)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Columns: 106 entries, TRACT to TOWN_Woburn
dtypes: bool(91), float64(11), int64(4)
memory usage: 104.4 KB
None
TRACT              0
LON                0
LAT                0
MEDV               0
CRIM               0
                  ..
TOWN_Weymouth      0
TOWN_Wilmington    0
TOWN_Winchester    0
TOWN_Winthrop      0
TOWN_Woburn        0
Length: 106, dtype: int64
      TRACT       LON       LAT      CRIM        ZN     INDUS      CHAS  \
0 -1.084634  0.047640 -0.396012  1.327804 -0.487722  1.015999 -0.272599
1 -0.469550  1.060506  1.256717 -0.347506 -0.487722 -0.437258 -0.272599
2  1.096449  0.801647 -2.056842 -0.416484  1.014463 -0.740749 -0.272599
3 -1.369691 -0.073161 -0.350643  0.399963 -0.487722  1.015999 -0.272599
4 -0.466649  0.907846  0.990984 -0.336054 -0.487722 -0.437258 -0.272599

        NOX        RM       AGE  ...  TOWN_Wellesley  TOWN_Wenham  \
0  0.512296 -1.397069  1.021481  ...       -0.089264    -0.044499
1 -0.144217 -0.642000 -0.429390  ...       -0.089264    -0.044499
2 -1.008914 -0.361342 -1.610001  ...       -0.089264    -0.044499
3  0.512296 -0.258767  0.587642  ...       -0.089264    -0.044499
4 -0.144217 -0.794439  0.032897  ...       -0.089264    -0.044499

   TOWN_Weston  TOWN_Westwood  TOWN_Weymouth  TOWN_Wilmington  \
0    -0.062994      -0.077228      -0.126745        -0.077228
1    -0.062994      -0.077228      -0.126745        -0.077228
2    -0.062994      -0.077228      -0.126745        -0.077228
3    -0.062994      -0.077228      -0.126745        -0.077228
4    -0.062994      -0.077228      -0.126745        -0.077228

   TOWN_Winchester  TOWN_Winthrop  TOWN_Woburn  MEDV
0          -0.0999        -0.0999    -0.109545   NaN
1          -0.0999        -0.0999    -0.109545  21.6
2          -0.0999        -0.0999    -0.109545   NaN
3          -0.0999        -0.0999    -0.109545  33.4
4          -0.0999        -0.0999    -0.109545  36.2

[5 rows x 106 columns]
      TRACT       LON       LAT      CRIM        ZN     INDUS      CHAS  \
0  0.624981 -0.386446  0.462759 -0.409837 -0.487722 -1.034027 -0.272599
1  0.965163 -0.983811 -0.792991 -0.413949  1.229060 -0.689681  3.668398
2 -0.794500  0.536152  0.352577 -0.408212 -0.487722  2.422565 -0.272599
3  0.451626 -0.977174  1.434952 -0.409853 -0.487722 -0.047680 -0.272599
4 -1.290630  0.297206 -0.606654  0.171842 -0.487722  1.015999 -0.272599

        NOX        RM       AGE  ...  TOWN_Wellesley  TOWN_Wenham  \
0 -0.386091  0.187151  0.552081  ...       -0.089264    -0.044499
1 -0.930305  0.674384 -1.268620  ...       -0.089264    -0.044499
2  0.469104 -0.429726  1.074822  ...       -0.089264    -0.044499
3 -1.224009 -0.312904 -2.161190  ...       -0.089264    -0.044499
4  1.367490  0.017617  0.825898  ...       -0.089264    -0.044499

   TOWN_Weston  TOWN_Westwood  TOWN_Weymouth  TOWN_Wilmington  \
0    -0.062994      -0.077228      -0.126745        -0.077228
1    -0.062994      -0.077228      -0.126745        -0.077228
2    -0.062994      -0.077228      -0.126745        -0.077228
3    -0.062994      -0.077228      -0.126745        -0.077228
4    -0.062994      -0.077228      -0.126745        -0.077228

   TOWN_Winchester  TOWN_Winthrop  TOWN_Woburn  MEDV
0          -0.0999        -0.0999    -0.109545  24.0
1          -0.0999        -0.0999    -0.109545   NaN
2          -0.0999        -0.0999    -0.109545  34.7
3          -0.0999        -0.0999    -0.109545   NaN
4          -0.0999        -0.0999    -0.109545   NaN

[5 rows x 106 columns]